<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to {{ restaurant.name }} Dashboard</h1>
    <p>Location: {{ restaurant.location }}</p>
    <h2>Available Products</h2>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Create an Order</h2>
    <form method="post" action="{% url 'create_order' %}">
        {% csrf_token %}
        <!-- Adiciona campos personalizados para os produtos -->
        {% for product in products %}
        <div>
            <label>{{ product.name }}</label>
            <input type="number" name="quantity_{{ product.id }}" placeholder="Quantity">
        </div>
        {% endfor %}
        <button type="submit">Submit Order</button>
    </form>
</body>
</html>
