<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>
    <a href="{% url 'logout' %}">Logout</a>
    <h1>Welcome, {{ restaurant.name }}</h1>
    <h2>Products</h2>
    <ul>
        {% for product in products %}
        <li>{{ product.name }} - {{ product.category }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_order' %}">Make Order</a>
    <h2>Orders</h2>
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                {% for product in order.products.all %}
                {{ product.name }}
                {% endfor %}
            </td>
            <td>
                {% for po in order.productorder_set.all %}
                {{ po.quantity }}
                {% endfor %}
            </td>
            <td>{{ order.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
