{% block menu %}
{% if request.user.is.is_authenticated %}
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">
        Logout
    </button>
</form>
{% endif %}
{% endblock %}
{% block content %}

    <h2>Tasks</h2>
    <form action="{% url 'task_list' %}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit"> Submit </button>
    </form>
    <hr>
    <ul>
        {% for Task in object_list %}
            <li>[COMPLETED: {{ Task.is_done }}] | {{ Task.title }} - [{{ Task.due_date }}] : {{ Task.description }}</li>
            {% endfor %}
    </ul>
{% endblock %}